spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/database
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
    hibernate:
      naming:
        physical-strategy: me.sharuru.jchv.frontend.config.TableNameStrategy

server:
  port: 8282

#jchv.table-prefix: AS_REQUIRED

logging:
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  file:
    max-size: 10MB
    max-history: 10
  level:
    org:
      springframework:
        web: DEBUG
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql: TRACE
logging.file: jchv.log
