.tooltip-inner {
    max-width: 800px;
}

.tooltip-inner > div {
    text-align: left;
}

div.tooltip-inner > div:nth-child(6) {
    text-align: right;
}

div#inspector-panel {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 10rem;
    padding-bottom: 2.2rem;
    font-size: 14px;
    border: 2px solid gray;
    position: absolute;
    top: 14rem;
    left: 4rem;
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
}

div#info-content {
    flex: 1;
    overflow-y: auto;
    word-break: break-all;
}

div#info-button-layer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0.2rem;
    background: #F1F1F1;
}

div#search-area {
    display: flex;
    flex-direction: column;
    width: 34rem;
    height: 145px;
    padding-bottom: 2.2rem;
    font-size: 14px;
    border: 2px solid gray;
    position: absolute;
    top: 14.5rem;
    left: 5rem;
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
}

div#search-content {
    flex: 1;
    overflow-y: auto;
    word-break: break-all;
}

div#search-button-layer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0.2rem;
    background: #F1F1F1;
}

.g6-minimap {
    border: 2px solid gray;
    position: absolute;
    top: 14rem;
    right: 4rem;
    background: rgba(255, 255, 255, 0.6);
}

.spinner-border {
    vertical-align: baseline;
}
