.tooltip-inner {
    max-width: 800px;
}

.tooltip-inner > div {
    text-align: left;
}

div.tooltip-inner > div:nth-child(6) {
    text-align: right;
}

/*div#watermark {*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    opacity: 0.2;*/
/*    z-index: -10;*/
/*    background: url('/static/jchv-bg.png') center center no-repeat;*/
/*    pointer-events: none;*/
/*}*/

div#info-area {
    display: flex;
    flex-direction: column;
    width: 30rem;
    height: 160px;
    padding-bottom: 2.2rem;
    font-size: 14px;
    border: 2px solid gray;
    position: absolute;
    top: 14.5rem;
    left: 5rem;
    z-index: 10;
    background: rgba(255, 255, 255, 0.9);
}

div#info-content {
    flex: 1;
    overflow-y: auto;
    word-break: break-all;
}

div#info-button-layer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0.2rem;
    background: #F1F1F1;
}

.minimap {
    border: 2px solid gray;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: rgba(255, 255, 255, 0.6);
}

.spinner-border {
    vertical-align: baseline;
}
