<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>JCHV</title>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/5.11.2/css/fontawesome.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/5.11.2/css/brands.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/font-awesome/5.11.2/css/solid.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/jquery-ui/1.12.1/jquery-ui.css}" rel="stylesheet"/>
    <link th:href="@{/static/page.css}" rel="stylesheet"/>
</head>
<body>
<div id="watermark"></div>
<div id="content" style="padding:2rem;">
    <div id="top-left-info"
         style="position: absolute; top:0.4rem; left: 0.4rem; font-size: 1px; color: gray; text-align: right;">
        <img src="../../static/jchv-bg.png" style="width: 10rem;">
    </div>
    <div id="top-right-info"
         style="position: absolute; top:0.4rem; right: 0.4rem; font-size: 1px; color: gray; text-align: right;">
        Tech Beta 20191218123218<br/>
        Table Gamma+<br/>
    </div>
    <div id="bottom-left-info"
         style="position: absolute; bottom:0.4rem; left: 0.4rem; font-size: 1px; color: gray; text-align: right;">
        Java Call Hierarchy Viewer, aka JCHV, is powered by I-SOLVER iSolution Suite&trade;<br/>
    </div>
    <div id="bottom-right-info"
         style="position: absolute; bottom:0.4rem; right: 0.4rem; font-size: 1px; color: gray; text-align: right;">
        Copyright © 2019 i-solver Corporation<br/>
    </div>
    <div id="bottom-right-toast" class="toast" style="position: absolute; bottom: 0.4rem; right: 0.4rem; z-index: 10" data-delay="3000">
        <div class="toast-header">
            <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                 preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect width="100%" height="100%" fill="#007aff"></rect>
            </svg>
            <strong class="mr-auto">Auto replacement activated</strong>
        </div>
        <div class="toast-body">
            *RepositoryImpl -> *RepositoryCustom
        </div>
    </div>

    <div id="main-content" style="padding:2rem;">
        <div id="input-area" class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg"><i class="fas fa-search"></i></span>
            </div>
            <input id="keyword-input" type="text" class="form-control" placeholder="Enter qualified name here...">
            <div class="input-group-append">
                <button id="search-button" type="button" class="btn btn-primary btn-lg">Search</button>
            </div>
        </div>
        <hr/>
        <div id="function-area">
            <div>
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-pills " id="pills-tab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="pills-caller-tab" data-toggle="pill" href="#pills-caller"
                                   role="tab">Caller</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="pills-callee-tab" data-toggle="pill" href="#pills-callee"
                                   role="tab">Callee</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col" style="text-align: right;">
                        <button id="name-helper-button" type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#name-helper-modal">Name helper</button>
                        <button id="reset-layout-button" type="button" class="btn btn-outline-primary">Reset layout</button>
                        <button id="collection-button" type="button" class="btn btn-outline-primary" disabled>Collection</button>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="tab-content" id="pills-tabContent">
                <div id="info-area" style="left:80px;top:240px;">
                    <div id="info-area-title"
                         style="position: absolute;top: -1.2rem;background: white;left: -0.1rem;border: 2px solid gray;cursor: move;">
                        <strong>&nbsp;&nbsp;Inspector&nbsp;&nbsp;</strong></div>
                    <div id="info-content" style="padding: 0.4rem">
                        <div><strong>Qualified name: </strong><span id="info-qualified-name">Right click on node to get details.</span>
                        </div>
                        <div><strong>Method path: </strong><span id="info-method-path">Right click on node to get details.</span>
                        </div>
                        <div><strong>Method comment: </strong><span id="info-method-comment">Right click on node to get details.</span>
                        </div>
                    </div>
                    <div id="info-button-layer">
                        <button id="info-func-btn-1" type="button" class="btn btn-outline-primary btn-sm">SET Q</button>
                        <span id="reset-handler"
                              style="right: 1.8rem; bottom: 0.4rem; position: absolute; cursor: pointer;"
                              title="Reset panel size&position"><i class="fas fa-ruler-combined"></i></span>
                    </div>
                </div>
                <div class="tab-pane fade show active" id="pills-caller" role="tabpanel">
                    <div id="caller-graph-container"></div>
                </div>
                <div class="tab-pane fade" id="pills-callee" role="tabpanel">
                    <div id="callee-graph-container"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="system-modal" tabindex="-1" role="dialog" style="font-size: 13px; z-index: 2000;">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">System Information</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div id="system-modal-info" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="collection-modal" tabindex="-1" role="dialog" style="font-size: 13px;">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Collection</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div id="collection-modal-info" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="name-helper-modal" tabindex="-1" role="dialog" style="font-size: 13px;">
        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-xl" role="document">
            <div class="modal-content" style="min-height:80%;">
                <div class="modal-header">
                    <h5 class="modal-title">Name helper</h5>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="name-input-area" class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fas fa-search"></i></span>
                        </div>
                        <input id="method-keyword-input-class" type="text" class="form-control" placeholder="Enter class name here...">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm-hashtag">#</span>
                        </div>
                        <input id="method-keyword-input-method" type="text" class="form-control" placeholder="Enter method name here...">
                        <div class="input-group-append">
                            <button id="name-search-button" type="button" class="btn btn-primary btn-lg">Find qualified name</button>
                        </div>
                    </div>
                    <div id="name-helper-modal-info" style="padding-top: 1rem; "></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.js}"></script>
<script th:src="@{/webjars/popper.js/1.15.0/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/static/g6.js}"></script>
<script th:src="@{/static/minimap.js}"></script>
<script th:src="@{/static/page.js}"></script>

</body>

</html>
