<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>JCHV - Java Call Hierarchy Viewer</title>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<div style="padding:2rem;">
    <div style="padding-left:4rem; padding-right:4rem; padding-top:4rem;">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Path</span>
            </div>
            <input id="text" type="text" class="form-control" placeholder="Foo.java#Bar or Bin.class#Method">
            <div class="input-group-append">
                <button id="search-button" type="button" class="btn btn-primary btn-lg">Search</button>
            </div>
        </div>
        <div style="padding-top: 4rem;">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Caller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Callee</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="list-group" id="list1">
                        <a href="#" class="list-group-item list-group-item-action">NOT FOUND</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
            </div>
        </div>
    </div>


</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/static/page.js}"></script>
</body>

</html>
