<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>JCHV - Java Call Hierarchy Viewer</title>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/static/treantjs/Treant.css}" rel="stylesheet"/>
    <link th:href="@{/static/page.css}" rel="stylesheet"/>
</head>
<body>
<div style="padding:2rem;">
    <div style="position: absolute; top:2px; right:2px; font-size: 1px; color: gray; text-align: right;">
        0.0.9-SNAPSHOT<br/>
        meta_new
    </div>
    <div id="loader"></div>
    <div id="overlay"></div>
    <div style="padding-left:4rem; padding-right:4rem; padding-top:4rem;">
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Path</span>
            </div>
            <input id="text" type="text" class="form-control" placeholder="/path/to/package/Foo.java#Bar or /path/to/binary/Bin.class#Method">
            <div class="input-group-append">
                <button id="search-button" type="button" class="btn btn-primary btn-lg">Search</button>
            </div>
        </div>
        <div style="padding-top: 4rem;" id="function">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-caller-tab" data-toggle="pill" href="#pills-caller" role="tab">Caller</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-callee-tab" data-toggle="pill" href="#pills-callee" role="tab">Callee</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-caller" role="tabpanel">
                    <div id="tree-graph">
                        <b>Please input the keyword.</b>
                    </div>
                </div>
                <div class="tab-pane fade" id="pills-callee" role="tabpanel">
                    <div id="callee-tree-graph" >
                        <b>Please input the keyword.</b>
                    </div>
                    <div id="callee-list" >
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script th:src="@{/static/treantjs/vendor/raphael.js}"></script>
<script th:src="@{/static/treantjs/Treant.js}"></script>
<script th:src="@{/static/page.js}"></script>
</body>

</html>
